/* hidding the footer of the grid */
.MuiDataGrid-footerContainer {
    visibility: hidden;
    border: none;
}

/* hidding the column sparators in each row */
.MuiDataGrid-columnSeparator {
    visibility: hidden;
}